# ===============================
# Spring Boot / Java
# ===============================
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# ===============================
# IDE Files (STS / Eclipse)
# ===============================
.project
.classpath
.settings/
.springBeans

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iws
*.iml
*.ipr

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Maven Wrapper
# ===============================
.mvn/wrapper/maven-wrapper.jar

# ===============================
# Node (if frontend added later)
# ===============================
node_modules/
/.metadata/
